body {
    font-family: "Nunito Sans";
}

.field-square {
    width: 40px;
    height: 40px;
}

.main-field {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(20, 1fr);
    margin-top: 10px;
}

.grass {
    background-image: url(../img/Grass.jpg);
    background-size: 100% 100%;
    border-style: dashed;
    border-width: 1px;
}

.straight_road_horizontal {
    background-image: url(../img/Straight_Road.png);
    background-size: 100% 100%;
    border-style: dashed;
    border-width: 1px;
}

.straight_road_vertical {
    background-image: url(../img/Straight_Road.png);
    background-size: 100% 100%;
    border-style: dashed;
    border-width: 1px;
}

.curved_road_right_up {
    background-image: url(../img/Curved_Road.png);
    background-size: 100% 100%;
    border-style: dashed;
    border-width: 1px;
}

.curved_road_left_up {
    background-image: url(../img/Curved_Road.png);
    background-size: 100% 100%;
    border-style: dashed;
    border-width: 1px;
}

.curved_road_right_down {
    background-image: url(../img/Curved_Road.png);
    background-size: 100% 100%;
    border-style: dashed;
    border-width: 1px;
}

.curved_road_left_down {
    background-image: url(../img/Curved_Road.png);
    background-size: 100% 100%;
    border-style: dashed;
    border-width: 1px;
}

.water {
    background-image: url(../img/Water.jpg);
    background-size: 100% 100%;
    border-style: dashed;
    border-width: 1px;
}
